@import 'reset';
@import url('https://www.fontspace.com/avenge-font-f84501');

@font-face {
    font-family: 'Avenge'; /* Nom de votre police */
    src: url('font/AvengeRegular-Yzdxy.ttf') format('truetype'); /* Chemin vers votre fichier de police */
    /* Ajoutez d'autres formats si nécessaire pour une meilleure compatibilité */
  }

html, body {
    width: 100%;
    // height: 100vh;
    font-family: 'Avenge', sans-serif;
    background: linear-gradient(blue ,#ED1C24 );
    background-repeat: no-repeat;
    background-size: cover;
   
   // overflow: hidden;
   
}

body {
    header {
        width: 100%;
        height: auto;
        padding: 20px 0 20px 0;
        // background: linear-gradient(#ED1C24 , blue);
        background-image: url(asset/versus1.jpg);
        text-shadow: 4px 4px 4px #ED1C24;
        background-size:cover ;
        color: white;
        -webkit-text-stroke-width: 0.3px;
        -webkit-text-stroke-color: black
        ;
       
        
        h1 {
            text-align: center;
            font-size: 50px;
            
        }
        p {
            text-align: left;
            font-size: 35px;
            font-weight: 600;
            margin-left: 20px;
        }

        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-image: url(asset/vs.png);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            box-shadow: 4px 4px 4px #FFD700;
            display: block;
            margin: 0 auto;
        
        }
        ul{
            display: flex;
        button {
            /* Vos styles de base pour les boutons */
            background-color: #ED1C24;
            color: white;
            border: none;
            padding: 5px 25px;
            text-align: center;
            text-decoration: none;
            display: inline;
            font-size: 20px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
            transition-duration: 0.4s;
          }
          
          button:hover {
            /* Styles pour l'effet hover */
            background-color: #FFD700;
            color: #ED1C24;
          }
        }
}

    main {
        min-height: 620px;
        width: 100%;
        margin-bottom: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #FFD700;
            article {
                background: linear-gradient(blue ,#ED1C24 );
                text-shadow: 4px 4px 4px blue;

                width: 90%;
                height: 600px;
                border: solid #FFD700 5px;
                border-radius: 3%;
                margin: 10px auto;
                box-shadow: 4px 4px 4px #FFD700;
                transition: all (0.4) ease-in-out;
                
                &:hover{
                    box-shadow: inset -5px -5px 8px black;
                    transform: scale(1.1);
                    position: relative;
                      
                }
                    h2  {
                        font-size: 25px;
                        text-align: center;
                        font-weight: normal;
                    }
                    
                    h3 {
                        font-size: 18px;
                        text-align: center;
                        font-weight: normal;

                    }
                    
                    h4{
                        text-align: center;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    h5{
                        text-align: center;
                        font-weight: normal;
                        font-size: 18px;
                    }
                    p {
                    
                       
                        text-align: center;
                    
                        font-size: 20px;
                    }
                    img{
                        width: 30px;
                        padding: 5px;
                        position: absolute;
                    }
            }
            section {
     
                height: 200px;
                width: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                border-radius: 50%;
                align-items: center;
                margin-left: 50px;
            }
    }
}


@media screen and (min-width: 576px){
    body{
        main {
            gap: 20px;
            article{
                width: 300px;
            }
        }
    }
    header {
        display: flex;
        justify-content: space-between;
            h1 {
                text-align: left;
            }
            .avatar-topbloc {
                margin-left: 20px;
            }
            
            .avatar-bottombloc {
                flex-direction: column;
                width: 90%;
                    p {
                        margin-top: 20px;
                    }
            }
            ul{
                display: flex;
            button {
                /* Vos styles de base pour les boutons */
                background-color: #ED1C24;
                color: white;
                border: none;
                padding: 5px 25px;
                text-align: center;
                text-decoration: none;
                display: inline;
                font-size: 20px;
                margin: 4px 2px;
                cursor: pointer;
                border-radius: 12px;
                transition-duration: 0.4s;
              }
              
              button:hover {
                /* Styles pour l'effet hover */
                background-color: #FFD700;
                color: #ED1C24;
              }
            }
    }
}